@font-face {
    font-family: 'FAMILY_NAME';
    font-style: NORMAL_OR_ITALIC;
    font-weight: NUMERIC_WEIGHT_VALUE;
    font-display: swap;
    src: url(FONT_FILE_NAME.woff2) format('woff2');
  }

  * {
    margin: 0%;
 padding: 0%;
 box-sizing: border-box;
  }

  body {
    font-family: "Nunito"  sans-serif;
    min-height: 100vh;
  }

.exp {
    padding-left: 20px;
    margin-top: 1rem;
    border: 1px   solid red;
}

.profile-pic-figure img {

    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px  double gray;
}