  * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  
  p
  {
    font-size: 18px;
    color: lawngreen;
  }

  h2
  {
    border: 2px  dashed red ;
    width: 10%;
  }
  
 body 
 {
    min-height: 100wh;
 }